@import "https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap";
@font-face {
    font-family: Eina01-Bold;
    src: url(fonts/Eina01-Bold.8637c276e69661847b3850c90114c8c7.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Eina01-BoldItalic;
    src: url(fonts/Eina01-Bold.8637c276e69661847b3850c90114c8c7.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: Eina01-SemiBold;
    src: url(fonts/Eina01-SemiBold.d5d9ec80f34bc41228aee64f28454523.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Eina01-SemiBoldItalic;
    src: url(fonts/Eina01-SemiBold.d5d9ec80f34bc41228aee64f28454523.ttf) format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: Eina01-Regular;
    src: url(fonts/Eina01-Regular.2f3ebc72a376a3305bfc34d674e6e11b.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Eina01-RegularItalics;
    src: url(fonts/Eina01-Regular.2f3ebc72a376a3305bfc34d674e6e11b.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: Eina01-Light;
    src: url(fonts/Eina01-Regular.2f3ebc72a376a3305bfc34d674e6e11b.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Eina01-LightItalics;
    src: url(fonts/Eina01-Regular.2f3ebc72a376a3305bfc34d674e6e11b.ttf) format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap
}
